@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Courier, monospace;
}

body {
    background-color: #7710D1;
    padding: 2rem 1rem;
}


.main-container {
    display: flex;
    position: relative;
    justify-content: center;
}

.left-box, .right-box{
    height: calc(100vh - 4rem);
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-box {
    background-color: #CC92FC;
    border-radius: 2rem 0rem 0rem 2rem;
}

.right-box {
    background-color: #B365F2;
    border-radius: 0rem 2rem 2rem 0rem;
}

/* Left and Right Box */
.player{
    font-weight: bold;
    font-size: 5.5vw;
}

.computer-score-counter, .player-score-counter{
    color: #6E25AA;
    font-weight: bold;
    font-size: 5.5vw;
}

.btn-contaner{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

img{
    width: 5vw;
    height: 7.5vh;
}

.button1, .button2, .button3{
    display: flex;
    background-color: #D9D9D9;
    border-radius: 0.6rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    height: 10vh;
    min-width: 9vw;
}

/* End of Left and Right Box */

.playerChoice, .computerChoice{
    margin-bottom: 0.9rem;
    padding: 0.5rem;
    background-color: azure;
    border-radius: 0.5rem;
    width: 9vw;
    height: 19.5vh;
}

.play-again, .resetGameOverlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resetGameOverlay{
    background-color: #9A32EF;
    z-index: 3;
    top: 40%;
    position: fixed;
    /* height: 20vh; */
    width: 24vw;
    border-radius: 1.8rem;
}

.isGameDone{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.3vw;
}

.play-again{
    font-weight: 400;
    font-size: 2.1vw;
    border-radius: 1.2rem;
    background-color: #B4B708;
    color: white;
    height: 10vh;
    width: 20vw;
    cursor: pointer;
    margin-bottom: 15px;
}

.announcer{
    z-index: 2;
    padding: 0.4rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 20px;
    background: #7710D1;
    color: #D9D9D9;
    font-size: 1.6rem;
    font-weight: 300;
}