@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Courier, monospace;
}

body {
    background-color: #7710D1;
    padding: 2rem 1rem;
}


.main-container {
    display: flex;
    position: relative;
    justify-content: center;
}

.left-box,
.right-box {
    height: calc(100vh - 4rem);
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-box {
    background-color: #CC92FC;
    border-radius: 2rem 0rem 0rem 2rem;
}

.right-box {
    background-color: #B365F2;
    border-radius: 0rem 2rem 2rem 0rem;
}

/* Left and Right Box */
.player {
    font-weight: bold;
    font-size: 5.5vw;
}

.computer-score-counter,
.player-score-counter {
    color: #6E25AA;
    font-weight: bold;
    font-size: 5.5vw;
}

.btn-contaner {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

img {
    width: 5vw;
    height: 7.5vh;
}

.button1,
.button2,
.button3 {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 0.6rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    height: 10vh;
    min-width: 9vw;
}

/* End of Left and Right Box */

.playerChoice,
.computerChoice {
    margin-bottom: 0.9rem;
    padding: 0.5rem;
    background-color: azure;
    border-radius: 0.5rem;
    width: 9vw;
    height: 19.5vh;
}

.play-again,
.resetGameOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resetGameOverlay {
    background-color: #9A32EF;
    z-index: 4;
    top: 40%;
    position: fixed;
    /* height: 20vh; */
    width: 24vw;
    border-radius: 1.8rem;
    transform: scale(0);
    transition: 400ms ease-in-out;
}

.resetGameOverlay.active {
    transform: scale(1);
}

#overlay {
    position: fixed;
    z-index: 3;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: scale(1);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


.isGameDone {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.3vw;
}

.play-again {
    font-weight: 400;
    font-size: 2.1vw;
    border-radius: 1.2rem;
    background-color: #B4B708;
    color: white;
    height: 10vh;
    width: 20vw;
    cursor: pointer;
    margin-bottom: 15px;
}

.announcer {
    z-index: 2;
    padding: 0.4rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 20px;
    background: #7710D1;
    color: #D9D9D9;
    font-size: 1.6rem;
    font-weight: 300;
}

.game-mechanics {
    z-index: 2;
    padding: 0.4rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 20px;
    background: #7710D1;
    color: #D9AC75;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Settings Section */
.settings-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.getDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.saveChanges {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    font-weight: 400;
    background-color: #CD9652;
    color: white;
    width: 15vw;
    height: 7vh;
    border-radius: 1.063rem;
    cursor: pointer;
}

.settings {
    z-index: 2;
    padding: 0.4rem;
    border-radius: 0.5rem;
    position: absolute;
    right: 0;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}



.gameSettingsModal {
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    /* designs */
    background-color: #9A32EF;
    border-radius: 4rem;
    width: 100vw;
    max-width: 50%;
    height: 90vh;
    max-height: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 400ms ease-in-out;
}

.gameSettingsModal.active {
    transform: translate(-50%, -50%) scale(1);
}


.settingHeader {
    font-size: 2.7vw;
    margin-bottom: 1.4rem;
}

.closebtn {
    height: 4vh;
    width: 4vw;
    cursor: pointer;
    right: 30px;
    position: fixed;
}

.howGameWorks {
    display: flex;
    align-items: center;
}

.settingsInfo {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

.changeName,
.changePoints {
    color: white;
    font-size: 1vw;
    padding-right: 0.4rem;
}

.console {
    height: 3vh;
    width: 4vw;
    margin-right: 5px;
}

/* end of settings section */

/* Mobile View */
@media (max-width: 600px) {
    body{
        overflow: hidden;
    }
    .main-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .announcer{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.94rem;

    }

    .left-box,
    .right-box {
        width: 100%;
        height: calc(50vh - 1.9rem);
    }

    .left-box {
        background-color: #CC92FC;
        border-radius: 0rem 0rem 2rem 2rem;
    }

    .right-box {
        background-color: #B365F2;
        border-radius: 2rem 2rem 0rem 0rem;
    }

    img {
        width: 12vw;
        height: 10.5vh;
    }

    .button1,
    .button2,
    .button3 {
        display: flex;
        background-color: #D9D9D9;
        border-radius: 0.6rem;
        cursor: pointer;
        justify-content: center;
        align-items: center;

        height: 10vh;
        width: 17vw;
    }

    .playerChoice,
    .computerChoice {
        margin-bottom: 0.9rem;
        padding: 0.5rem;
        background-color: azure;
        border-radius: 0.5rem;
        width: 30vw;
        height: 15.5vh;
    }

    .game-mechanics{
        bottom: 49.9rem;
        font-size: 1.2rem;
    }

    .settings{
        bottom: 0;
    }

    .settingsInfo {
        color: white;
        font-size: 3vw;
        font-weight: 400;
    }

    .playerName, .needPoints{
        width: 20vw;
    }

    .changeName{
        font-size: 3vw;
        padding: 0;
    }

    .getDetails{
        width: 50vw;
    }

    .gameSettingsModal{
        border-radius: 1.5rem;
    }
    
    .getDetails{
        display: flex;
        align-items: center;
    }

    .howGameWorks{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 47vw;
    }
}

/* End of Mobile View */